@import url('./Styles/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--fondo);
    padding: 16px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media screen and (min-width: 1200px) {
    .sliderAnterior, .sliderSiguiente{
        display: none;
    }

    #spinner{
        width: 100%;
        min-height: 90vh;
    }

}